@{
    ViewData["Title"] = "Add a Blog Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model GBK.Models.Blog

    <h1>add a blog post</h1>
<hr />
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Title)
    @Html.TextBoxFor(model => model.Title)
    <br />
    @Html.LabelFor(model => model.Author)
    @Html.TextBoxFor(model => model.Author)
    <br />
    @Html.LabelFor(model => model.Text)
    @Html.TextBoxFor(model => model.Text)
    <br />
<input type="submit" value="Add new Post" />
}
<br />
<p>@Html.ActionLink("Back to list", "Posts")</p>