@{
    ViewData["Title"] = "Product Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model GBK.Models.Product

<h1>details page:</h1>

@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)<br />
@Html.DisplayNameFor(model => model.Cost): $ @Html.DisplayFor(model => model.Cost)<br />
@Html.DisplayNameFor(model => model.Country): @Html.DisplayFor(model => model.Country)<br />

<br />

@Html.ActionLink("Edit", "Edit", new { id = Model.ProductId })
<br />
@Html.ActionLink("Delete", "Delete", new { id = Model.ProductId })